body {
    max-width: 85%;
    margin: 0 auto;
    background-color: lightblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.title {
    font-variant: small-caps;
    text-align: center;
    font-size: 2.5em;
}

.instructions {
    text-align: center;
}

#body-container {
    background-color: #f0ebeb;
    margin: 50px 0;
    padding: 30px 0;
}

.cat-container {
    text-align: center;
    margin-top: 25px;
}

.cat-button {
    padding: 10px;
    margin: 0 5px;
}

.cat-button:hover {
    background-color: #fafafa;
    border: solid 2px lightblue;
}

.alphabet-container {
    width: 80%;
    margin: 0 auto;
}

.alphabet-letter {
    padding: 10px;
    margin: 5px;
}
#guess-word {
    text-align: center;
    margin: 50px 0;
}

li.letter {
    display: inline;
    margin: 0 5px;
    font-size: 1.6em;
}

#category-chosen {
    text-align: center;
    font-size: 1.6em;
}

#lives {
    text-align: center;
}