body {
    max-width: 85%;
    margin: 0 auto;
    background-color: lightblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.title {
    font-variant: small-caps;
    text-align: center;
    font-size: 2.5em;
}

.instructions {
    text-align: center;
    display: inline-block;
}

#body-container {
    background-color: #f0ebeb;
    margin: 50px auto;
    padding: 30px 0;
    width: 95%;
    text-align: center;
}

.cat-container {
    text-align: center;
    margin-top: 25px;
}

.cat-button {
    padding: 10px;
    margin: 5px 5px;
}

.cat-button:hover {
    background-color: #fafafa;
    border: solid 2px lightblue;
}

.alphabet-container {
    width: 80%;
    margin: 0 auto;
}

.alphabet-letter {
    padding: 10px;
    margin: 5px;
}
#guess-word {
    text-align: center;
    margin: 50px 0;
}

li.letter {
    display: inline;
    margin: 0 5px;
    font-size: 1.6em;
}

#category-chosen {
    text-align: center;
    font-size: 1.6em;
}

.hidden {
    display: none;
}

.add-new {
    margin: 10px;
    padding: 5px 10px;
    background-color: lightblue;
    border: solid 1px black;
}

.category-form {
    width: 33%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.category-form  input#create-category {
    text-align: center;
}

.category-form input {
    padding: 5px;
    margin: 5px 0;
}

.category-form span {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    font-size: 0.9em;
}

#hangman-box {
    color: white;
    border: dashed 2px lightblue;
    padding:20px;
    display: block;
    margin: 20px auto;
}